<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/common.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">Messaging</h1>
		</header>
		<div class="mui-content mui-content-padded">
			<br/>
			<button type="button" class="mui-btn mui-badge-yellow mui-btn-block" onclick="addachmentMail()">发送附件邮件</button>
			<button type="button" class="mui-btn mui-badge-yellow mui-btn-block" onclick="htmlMail()">发送HTML邮件</button>
			<button type="button" class="mui-btn mui-badge-yellow mui-btn-block" onclick="slientSMS()">后台发送短信</button>
			<br/>
			<ul class="mui-table-view">
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right" href="sms:18210008832">
			                	发送短信
			            </a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right" href="tel:18210008832">
			                 	拨打电话
			            </a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right" href="mailto:504069264@qq.com">
			                 	发送邮件
			            </a>
			        </li>
			    </ul>
		</div>
		<div class="bottomOutput">
			Messaging管理设备通讯功能，可用于发送短信、彩信、邮件等。
		</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/common.js"></script>
		<script type="text/javascript">
			mui.init()
			//发送附件邮件
			function addachmentMail(){
				outPut('.bottomOutput',"发送带附件邮件：")
				//创建消息对象
				//TYPE_SMS: 简单短信类型常量
				//TYPE_MMS: 彩信类型常量
				//TYPE_EMAIL: 邮件类型常量
				var msg = plus.messaging.createMessage(plus.messaging.TYPE_EMAIL);
				//收件人信息
				msg.to = ['504069264@qq.com'];
				//发送消息内容
				msg.body = 'This is an example mail';
				//添加附件
				msg.addAttachment("_www/img/helloh5.jpg");
				//发送消息
				plus.messaging.sendMessage( msg );
			}
			
			//发送HTML邮件
			function htmlMail(){
				outPut('.bottomOutput',"发送HTML邮件：");
				if ( plus.os.name == "iOS" ) {
					//创建消息对象
					var msg = plus.messaging.createMessage(plus.messaging.TYPE_EMAIL);
					msg.to = ["504069264@qq.com"];
					msg.body = '<!DOCTYPE HTML><html><head><meta charset="utf-8"/></head><body><h1>Hello</h1>This is an HTML content mail.</body></html>';
					//要发送消息体内容的类型，可取值"text"表示文本内容，"html"表示为html页面，默认值为"text"
					msg.bodyType = "html";
					//发送消息
					plus.messaging.sendMessage( msg );
					outPut('.bottomOutput',"支持");
				} else {
					outPut('.bottomOutput',"此平台不支持发送HTML邮件功能！");
					plus.nativeUI.alert("此平台不支持发送HTML邮件功能！");
				}
			}
			
			//后台发送短信
			function slientSMS(){
				outPut('.bottomOutput',"后台发送短信：");
				if ( plus.os.name == "Android" ) {
					var bts=["发送到18210008832","发送到18210008832","发送到18210008832"];
					plus.nativeUI.prompt("短信内容",function(e){
						var to=null;
						switch(e.index){
							case 0:
							to=['18210008832'];
							break;
							case 1:
							to=['18210008832'];
							break;
							case 2:
							to=['18210008832'];
							break;
							default:
							return;
							break;
						}
						//TYPE_SMS: 简单短信类型常量
						var msg = plus.messaging.createMessage(plus.messaging.TYPE_SMS);
						msg.to=to;
						msg.body=e.value;
						//是否采用静默方式发送消息
//						msg.silent=true;
						
						plus.messaging.sendMessage( msg );
						outPut('.bottomOutput', "\""+e.value+"\""+bts[e.index] );
						
					},"发送短信","CXYE",bts);
				} else {
					outPut('.bottomOutput',"此平台不支持后台发送短信功能！");
					plus.nativeUI.alert("此平台不支持后台发送短信功能！");
				}
			}
		</script>
	</body>

</html>