<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/common.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">NativeObj</h1>
		</header>
		<div class="mui-content mui-content-padded">
			<br />
			<button type="button" class="mui-btn mui-badge-yellow mui-btn-block" onclick="openDemoPage()">原生view过渡动画示例</button>
			<br />
		</div>
		
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
			function openDemoPage(){
				mui.openWindow({
					url:'NativeObj_animation.html',
					id:'NativeObj_animation.html'
				})
			}
		</script>
	</body>

</html>